# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# Pytest
.pytest_cache/
.cache/

# Behave
.behave/

# Reports
reports/
*.html
*.json
*.xml

# Screenshots
screenshots/
*.png

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# app files
*.apk
*.app

# extensions
/pretty.output